.custom-navbar{
    border-image: fill 0 linear-gradient(rgb(0, 0, 0), rgb(86, 32, 49));
}
.logo-img{
    height: 50px;
    width: auto;
    filter: brightness(0.6); 
}
#principal{
    padding: 0;
    margin: 0;
    border-image: fill 0 linear-gradient(rgb(10, 10, 10), rgb(71, 30, 43));
}
#principal1{
    padding: 0;
    margin: 0;
    border: 2px solid transparent;
}
#menu{
    color: white;
    
}
#general{
    display: grid;
    place-items: center;
}

#h5Estilo{
    font-size: 25px;
    padding: 2%;
    color: white;
    text-shadow: 2px 2px 4px  #3b6198;
    text-align: center;   
}
#hr1 hr{
    margin: 0 auto;
    border-color: white; 
    height: 10%; 
    width: 60%;
}  
#h5ab{
    text-align: center;
    padding: 1%;
    margin-bottom: 3%;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px  #3b6198;
}
#imagenprincipal{
    border-radius: 20px;
}
#descripcion{
    padding: 1%;
}
#h4Origen{
    color: white;
    text-shadow: 2px 2px 4px  #3b6198;
    width: 100%;
    margin-left: 2%;
    padding-bottom: 2%;
}
#h6Explicacion{
    color: #ffffff;
    font-size: 130%;
    width: 100%;
    margin-left: 2%;
}
#divBoton{
    margin-top: 5%;
    display: grid;
    place-items: center;
}
#h4formulario{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px  #3b6198;
}
.boton {
    padding: 10px 20px;
    background-color: rgb(116, 41, 65);
    color: white;
    text-shadow: 2px 2px 7px  rgb(116, 41, 65);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    opacity: .5;
}
.boton:hover{
    opacity: 1;
    transition-duration: 1s;
}
#horarios{
    margin-top: 5%;
}
#horariosPresenciales, #horariosVirtuales{
    text-align: center;
    color: rgb(125, 38, 65); 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 4px  rgb(125, 38, 65);
}
#horariosVirtuales{
    margin-top: 2%;
}
#hor{
    color: rgb(125, 38, 65);
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    font-size: 30px;
}
.ulPresencial, .ulVirtual{
    font-size: 120%;
    text-align: center;
    list-style: none;
    color: rgb(199, 198, 198);
    text-shadow: 2px 2px 4px  #3b6198;
}
.liPresencial, .liVirtual{
    display: inline-block;
    margin: 2% 5% 0 5%;
}
#profesores{
    margin: 3% 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px  #3b6198;
}
#ulProfesores{
    color: black;
    list-style: none;
    display: grid;
    place-items: center; 
    margin-bottom: 5%;
}
.liFotoProfesor{
    border: 2px solid black;
    border-radius: 50%;
    width: 120px; 
    height: 100px;  
}
.liNombreProfesor{
    /* margin-top: 2%; */
    font-size: 95%;
}
#informacionPie{
    padding: 1%;
    display: grid;
    place-items: center;
    font-size: 120%;
}
.contacto{
    display: inline-block;
}
#pieDePagina{
    color: white;
    background-color: #2A2828;
}
#redes{
    text-align: center;
}
ul{
    list-style: none;
    font-size: 110%;
}
#instagram{
    text-decoration: none;
    color: rgb(208, 61, 208);
}
#whatsapp{
    text-decoration: none;
    color: green;
}
#facebook{
    text-decoration: none;
    color: rgb(0, 25, 254);
}
#youtube{
    text-decoration: none;
    color: red;
}
.redesLista{
    display: inline-block;
    margin: 1%;
}

@media (max-width: 485px) {
    .ulPresencial, .ulVirtual {
        font-size: 100%;
        text-align: center;
        list-style: none;
        color: rgb(199, 198, 198);
        text-shadow: 2px 2px 4px #3b6198;
    }
}
@media (max-width: 426px) {
    #h5Estilo {
        font-size: 20px;
        padding: 2%;
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
        text-align: center;
    }
    #hr1 hr {
        margin: 0 auto;
        border-color: white;
        height: 10%;
        width: 80%;
    }
    #h5ab {
        text-align: center;
        padding: 1%;
        margin-bottom: 3%;
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
    }
    #h4Origen {
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
        width: 80%;
        margin-top: 4%;
        padding: 2%;
    }
    #h6Explicacion {
        color: #ffffff;
        font-size: 90%;
        width: 100%;
        margin-left: 2%;
    }
    #horariosPresenciales, #horariosVirtuales {
        text-align: center;
        color: #0cb7ac;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 4px #3b6198;
    }
    #hor {
        color: #0ed1c4;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 25px;
    }
    .ulPresencial, .ulVirtual {
        font-size: 80%;
        text-align: center;
        list-style: none;
        color: rgb(199, 198, 198);
        text-shadow: 2px 2px 4px #3b6198;
    }
    #horariosPresenciales, #horariosVirtuales {
        text-align: center;
        color: #0cb7ac;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 4px #3b6198;
    }
    #informacionPie {
        padding: 1%;
        display: grid;
        place-items: center;
        font-size: 65%;
    }
    .liFotoProfesor {
        border: 2px solid black;
        border-radius: 50%;
        width: 100px;
        height: 70px;
    }
    .liNombreProfesor {
        margin-top: 2%;
        font-size: 70%;
    }
    #informacionPie {
        padding: 1%;
        display: grid;
        place-items: center;
        font-size: 50%;
    }
    #fin{
        font-size: 60%;
    }
}
@media (max-width: 381px) {
    #h4Origen {
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
        width: 100%;
        margin-top: 4%;
        padding: 2%;
    }
    #hr1 hr {
        margin: 0 auto;
        border-color: white;
        height: 10%;
        width: 80%;
    }
    #h5ab {
        text-align: center;
        padding: 1%;
        margin-bottom: 3%;
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
    }
    #h4Origen {
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
        width: 80%;
        margin-top: 4%;
        padding: 2%;
    }
    #h6Explicacion {
        color: #ffffff;
        font-size: 70%;
        width: 100%;
        margin-left: 2%;
    }
    #horariosPresenciales, #horariosVirtuales {
        text-align: center;
        color: #0cb7ac;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 4px #3b6198;
    }
    #hor {
        color: #0ed1c4;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 25px;
    }
    .ulPresencial, .ulVirtual {
        font-size: 80%;
        text-align: center;
        list-style: none;
        color: rgb(199, 198, 198);
        text-shadow: 2px 2px 4px #3b6198;
    }
    #horariosPresenciales, #horariosVirtuales {
        text-align: center;
        color: #0cb7ac;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 4px #3b6198;
    }
    #informacionPie {
        padding: 1%;
        display: grid;
        place-items: center;
        font-size: 65%;
    }
    .liFotoProfesor {
        border: 2px solid black;
        border-radius: 50%;
        width: 100px;
        height: 70px;
    }
    .liNombreProfesor {
        margin-top: 2%;
        font-size: 50%;
    }
    #informacionPie {
        padding: 1%;
        display: grid;
        place-items: center;
        font-size: 45%;
    }
    #fin{
        font-size: 60%;
    }
} 
@media (max-width: 321px) {
    .liFotoProfesor {
        border: 2px solid black;
        border-radius: 50%;
        width: 80px;
        height: 60px;
    }
    #informacionPie {
        padding: 1%;
        display: grid;
        place-items: center;
        font-size: 40%;
    }
    .ulPresencial, .ulVirtual {
        font-size: 60%;
        text-align: center;
        list-style: none;
        color: rgb(199, 198, 198);
        text-shadow: 2px 2px 4px #3b6198;
    }
    #h4Origen {
        color: white;
        text-shadow: 2px 2px 4px #3b6198;
        width: 100%;
        margin-top: 4%;
        padding: 2%;
    }
}
